<main>
    <div class="birthday-wish-container">
        <h1 class="happy-birthday">Happy Birthday, Baby!</h1>
        <h2 class="love-you">We love you SO MUCH!!</h2>
    </div>
    <div class="fact-container">
        <p>CLICK FOR:</p>
        <button (click)=getRandomBabyFact()>
            love from dodo </button>
        <p id="random-fact" class="fact"></p>
        <button (click)=getRandomMayorFact()>
            love from Mayor </button>
        <p id="random-fact-mayor" class="fact"></p>
        <button (click)=getRandomHieroFact()>
            love from Hiero </button>
        <p id="random-fact-hiero" class="fact"></p>
        <button (click)=getRandomChumbyFact()>
            love from Chumby </button>
        <p id="random-fact-chumby" class="fact"></p>
    </div>
    <div class="with-love">
        <p>with love,</p>
        <p>Dodo, Hiero, Chumby, & Mayor</p>
    </div>
</main>